.holder{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}



.items{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    font-size: 20px;
    text-align: center;
}

